.clicker {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: $tgViewportHeight;
  background-color: #f0f0f0;
  user-select: none;
  touch-action: manipulation;
}

.touchpoint {
  position: absolute;
  background-color: slateblue;
  color: #fff;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 16px;
  pointer-events: none;
  animation: Point 0.5s ease forwards;
}

@keyframes Point {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}
