.clicker {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: $tgViewportHeight;
  user-select: none;
  touch-action: manipulation;

  &__topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 20px;
    top: 20px;
    width: calc(100% - 40px);
    z-index: 2;
    background-color: #3585fe;
    border-radius: 50px;
    padding: 10px 20px;

    &_note {
      font-family: var(--font-ultra);
      color: #fff;
      display: inline-flex;
      align-items: center;
      gap: 0 10px;
    }

    &_gift {
      background-color: #fff;
      padding: 10px;
      border-radius: 50px;
    }
  }

  &__scores {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
    font-family: var(--font-ultra);
    color: #fff;
    font-size: 30px;
    z-index: 2;
  }

  &__action {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;

    &_point {
      font-family: var(--font-ultra);
      font-size: 40px;
      -webkit-text-stroke: 2px #3585fe;
      -webkit-text-fill-color: #fff;
      width: 40px;
      height: 40px;
      margin-left: -20px;
      margin-top: -20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      color: #fff;
      pointer-events: none;
      animation: Point 0.5s ease forwards;
    }

    &_hero {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      &_disabled {
        filter: grayscale(1);
        pointer-events: none;
      }

      &_inner {
        animation: Pulse 4s ease-in-out infinite;
      }

      img {
        margin-left: -20px;
        margin-top: -5%;
      }
    }
  }

  &__footer {
    position: fixed;
    width: 100%;
    max-width: $maxWidth;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 0 20px;
    bottom: 30px;

    &__top {
      display: flex;
      align-items: center;
      gap: 0 20px;
    }
  }

  &__progress {
    display: flex;
    align-items: center;
    flex: 1;

    &_stats {
      background-color: #3585fe;
      color: #fff;
      border-radius: 30px;
      display: flex;
      align-items: center;
      padding: 5px;
      position: relative;
      z-index: 1;
      min-width: 80px;

      &_text {
        display: inline-flex;
        flex-direction: column;
        font-size: 12px;
        padding-right: 10px;
      }
    }

    &_bar {
      position: relative;
      height: 20px;
      border-radius: 20px;
      flex: 1;
      background-color: #fff;
      border: 2px solid #3585fe;
      margin-left: -20px;
      padding-left: 20px;

      span {
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 70%;
        border-radius: 20px;
        background-color: #78ebff;
      }
    }
  }

  &__energy {
    display: inline-flex;
    background-color: #3585fe;
    color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 2px 5px;
    position: relative;
    z-index: 1;

    &_text {
      display: inline-flex;
      flex-direction: column;
      font-size: 12px;
      padding-right: 10px;
    }
  }
}
@keyframes Point {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

@keyframes Pulse {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}
