.clicker {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: $tgViewportHeight;
  user-select: none;
  touch-action: manipulation;
  background-color: $green;

  &__topbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: $containerGlobalPadding;
    top: 15px;
    width: calc(100% - $containerGlobalPadding * 2);
    z-index: 2;

    &_avatar {
      position: relative;
      font-family: var(--font-ultra);
      background-color: $white;
      display: inline-flex;
      align-items: center;
      gap: 0 12px;
      border-radius: 40px;
      border: 1px solid $black;
      font-size: 18px;
      font-weight: 600;
      padding: 1px 10px 6px;
      flex: 1;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 10px;
        height: 32%;
        right: -5px;
        top: 50%;
        transform: translateY(-50%);
        background: $white;
        z-index: 1;
      }

      &::after {
        content: "";
        position: absolute;
        border: 1px solid $black;
        bottom: 18px;
        right: -4px;
        width: 6px;
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;
        border-bottom: 0;
        height: 4px;
        z-index: 2;
      }

      img {
        margin-top: -14px;
      }

      span {
        display: inline-block;
        position: relative;
        top: 2px;
      }
    }

    &_level {
      position: relative;
      background-color: $white;
      border: 1px solid $black;
      border-radius: 40px;
      padding: 10px;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      gap: 0 8px;

      &::before {
        content: "";
        position: absolute;
        border: 1px solid $black;
        border-top: 0;
        top: 18px;
        left: -4px;
        width: 6px;
        border-radius: 0 0 50% 50% / 0 0 100% 100%;
        height: 4px;
        z-index: 2;
      }
    }
  }

  &__scores {
    position: absolute;
    left: 0;
    right: 0;
    top: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
    font-size: 28px;
    font-weight: 700;
    color: $black;
    z-index: 2;
  }

  &__action {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;

    &_point {
      font-size: 48px;
      font-weight: 900;
      -webkit-text-stroke: 3px $black;
      -webkit-text-fill-color: $white;
      width: 40px;
      height: 40px;
      margin-left: -20px;
      margin-top: -20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      color: $white;
      pointer-events: none;
      animation: Point 0.5s ease forwards;
    }

    &_hero {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      left: -20px;
      top: -10px;
      background-color: green;

      &_disabled {
        filter: grayscale(1);
        pointer-events: none;
      }

      &_inner {
        animation: Pulse 4s ease-in-out infinite;
      }

      img {
        margin-top: -5%;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 12px 0;
    position: fixed;
    width: 100%;
    max-width: $maxWidth;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    padding: 0 $containerGlobalPadding;
    bottom: $containerGlobalPadding;

    &__top {
      display: flex;
      gap: 0 8px;
    }
  }

  &__progress {
    display: flex;
    align-items: center;
    gap: 0 10px;
    background-color: $purple;
    border: 1px solid $black;
    border-radius: 40px;
    flex: 1;

    &_stats {
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 10px;
      position: relative;
      z-index: 1;

      &_text {
        display: inline-flex;
        align-items: flex-end;
        font-size: 16px;
        gap: 0 2px;

        span {
          font-weight: 700;
          line-height: 1.2;
        }

        i {
          display: inline-block;
          font-size: 10px;
        }
      }
    }
  }

  &__energy {
    display: inline-flex;
    background-color: #3585fe;
    color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 2px 5px;
    position: relative;
    z-index: 1;
    flex: 1;

    &_text {
      display: inline-flex;
      flex-direction: column;
      font-size: 12px;
      padding-right: 10px;
    }
  }
}
@keyframes Point {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

@keyframes Pulse {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}
