@import "reset";
@import "variables.scss";

:root {
  --variable: #000;
}

.light {
}
.dark {
  --variable: #fff;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42;
  cursor: default;
  overflow-x: hidden;
  width: 100%;
  max-width: 560px;
  min-height: $tgViewportHeight;
  color: $tgTextColor;
  background: $tgBgColor;
  overscroll-behavior: contain;
  position: relative;
  margin: 0 auto;
}

h1 {
  // @include fontType(inherit, 50px, 700, normal, 1);
}

h2 {
  // @include fontType(inherit, 50px, 700, normal, 1);
}

h3 {
  // @include fontType(inherit, 50px, 700, normal, 1);
}

h4 {
  // @include fontType(inherit, 50px, 700, normal, 1);
}

h5 {
  // @include fontType(inherit, 50px, 700, normal, 1);
}

h6 {
  // @include fontType(inherit, 50px, 700, normal, 1);
}
